@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the MediaPark Bazaar</h1>
    <p class="lead">One of the leading or the best retailer of all kind of electronic devices in Uzbeksitan</p>
    <p><a href="https://mediapark.uz" class="btn btn-primary btn-lg">Original website &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            the original and  the best products from suppliers such as Apple, Samsung, Mi, LG, Midea and so on
        </p>
        <p><a class="btn btn-default" href="../Product/Index">See Products &raquo;</a></p>
    </div>
    
</div>